<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Имя колонки</th>

        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                Контент колонки
            </td>
        </tr>
    </tbody>
</table>